{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit {{ model | className }} {% endblock %}</h1>

<form method="post">
<!--    <div class="form-group">-->
<!--        <label for="title">Title</label>-->
<!--        <input type="text" name="title"-->
<!--               placeholder="Post title" class="form-control"-->
<!--               value="{{ model.title if model.title }}"></input>-->
<!--    </div>-->

    {% for attr in model.attributes %}
    <div class="form-group">
        <label for="{{ attr }}">{{ attr }}</label>
        {% if attr | attributeType == "C" %}
        <input type="text" name="{{ attr }}"
               placeholder="{{ attr }}" class="form-control"
               value="{{ request.form[attr] or record[attr] }}"></input>

        {% elif attr | attributeType == "M" %}
            <select name="{{ attr }}" class="form-control">
                {% for variant in attr.variants %}
                    <option value="{{ variant }}">{{ variant }}</option>
                {% endfor %}
            </select>
        {% else %}
            <select name="{{ attr }}" class="form-control">
                {% for id in (attr | connectedToFK) %}
                    <option value="{{ id }}">{{ id }}</option>
                {% endfor %}
            </select>
        {% endif %}
    </div>
    {% endfor %}

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}