{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} {{ table_class | table_name }} {% endblock %}</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{ table_class | get_id }}</th>
          {% for attribute in table_class | get_attributes %}
            <th scope="col">{{ attribute }}</th>
          {% endfor %}
            <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      {% for row in rows %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row["id"] }}</td>
            {% for attribute in table_class | get_attributes %}
            <td>{{ row[attribute] }}</td>
            {% endfor %}
            <td><a href="{{ url_for('edit', table_name = table_class | table_name, element_id=row['id']) }}">Edit</a></td>
            <td><a href="{{ url_for('delete', table_name = table_class | table_name, element_id=row['id']) }}">Delete</a></td>
          </tr>
      {% endfor %}
      </tbody>
    </table>

{% endblock %}